@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.contact__header-body-container {
  background-color: rgba(20, 20, 20, 1);
}
